:root {
  --transition: all 0.3s ease-in-out;
}

::-webkit-scrollbar {
  width: 0.4rem;
}

::-webkit-scrollbar-thumb {
  background: #333;
  border-radius: 0.5rem;
}

body {
  background-color: black;
  color: white;
  font-family: BasierCircle;
  line-height: 1.5;
  overflow: hidden;
}

.App {
  display: flex;
  height: 100vh;
  position: relative;
}

.background-gradient, .background-gradient-transiting {
  position: absolute;
  z-index: -2;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}

.background-gradient-transiting {
  z-index: -1;
  opacity: 1;
  animation: fade-in 0.3s ease-in-out forwards;
}

.fade {
  animation: fade-out 0.3s ease-in-out forwards;
}

.queue-player-wrapper {
  display: flex;
  width: 100%;
}

@media screen and (max-width: 991px) {
  .App {
    display: block;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}