.song-progress {
  width: 100%;
  background-color: rgba(255, 255, 255, 0.08);
  height: 6px;
  margin: 3rem 0 0;
  border-radius: 6px;
}

.song-progress-bar {
  background-color: #fff;
  height: 6px;
  width: 6px;
  border-radius: 6px;
  position: relative;
}

.progress-dragger {
  position: absolute;
  width: 10px;
  height: 10px;
  background-color: #fff;
  border-radius: 50%;
  cursor: pointer;
  left: -3px;
  top: -3px;
}