.header {
  height: 100vh;
  display: flex;
  flex-direction: column;
  padding: 0rem 2rem;
  flex: 0 1 250px;
}

.header > .logo {
  padding: 2rem 0;
  width: 133px;
}

.header > .profile_pic {
  width: 48px;
  height: 48px;
  padding: 2rem 0;
}

.hamburger-menu {
  display: none;
  cursor: pointer;
}

@media screen and (max-width: 991px) {
  .header {
    display: flex;
    flex-direction: row;
    height: auto;
    padding: 1rem 2rem;
    justify-content: space-between;
  }
  .header > .logo, .header > .profile_pic {
    padding: 0;
  }
  .hamburger-menu {
    font-size: 1.5rem;
    display: flex;
    align-items: center;
  }
}