.player {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
  padding: 2rem;
  margin: 0 auto;
  flex: 1 1 auto;
  max-width: 40vh;
}

.player > .song-name > h1 {
  margin-bottom: 0;
}

.player > .song-artist {
  opacity: 0.6;
  margin-bottom: 2.5rem;
}

.player > .song-cover-art {
  width: 40vh;
  height: 40vh;
  overflow: hidden;
  border-radius: 0.5rem;
}

.player > .song-cover-art > img {
  width: 100%;
  border-radius: 0.5rem;
}

.audio-player {
  display: none;
}

@media screen and (max-width: 991px) {
  .player {
    padding: 0;
    height: calc(100vh - 80px);
  }
}

@media screen and (max-width: 480px) {
  .player > .song-name > h1 {
    font-size: 1.5rem;
  }
}
